:root {
    --cellSize: 64px;
}

.board {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: #363663 0px 0px 4px 2px inset,
                #363663 0px 2px 8px 2px;
    /* outline: #9191a2 4px solid; */
    border-radius: 8px;
    position: relative;
}
.board-background {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    filter: saturate(2) brightness(1.1);
    border-radius: 8px;
}

.board-row {
    display: flex;
    flex-direction: row;
    position: relative;
}

.board-cell {
    width: var(--cellSize);
    height: var(--cellSize);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.board-cell .wall,
.board-cell .trap,
.board-cell .creature
{
    width: 100%;
    height: 100%;
}
.board-cell .wall { filter: saturate(2.5) brightness(2.5) drop-shadow(#2e346980 0px 1px 1px); }
.board-cell .trap { filter: saturate(2.5) ; }
.board-cell .creature { filter: saturate(0.4) brightness(1.1); }

.board-cell.path {
    flex-wrap: wrap;
    /* overflow: clip; */
    justify-content: space-evenly;
    align-content: space-evenly;
}
.board-cell .character {
    min-width: 12px;
    filter: drop-shadow(#363663 0px 1px 1px);
}