.game {
    scrollbar-width: none !important;
    overflow: -moz-scrollbars-none;
}
.players-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-height: calc(100vh - 4rem);
    overflow-x: visible;
    overflow-y: auto;
    border-radius: 4px;
}
.players-list::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.players-list h3 {
    color: #fff;
    text-shadow: #8fa6f1 0px 1px 1px;
    margin-bottom: 0.25rem;
}

.player-info {
    padding: 0.5rem 1rem;
    background-color: var(--info-bg-color);
    background-image: var(--info-bg-grad);
    box-shadow: #36366380 0px 3px 2px 2px;
    border-radius: 4px;
    transition: 0.2s;
}
.player-info:hover, .player-info:active, .player-info:focus {
    background-color: var(--info-bg-color-hover);
    box-shadow: #4f4f6e80 0px 4px 8px 0px;
    transform: scale(1) rotate(-1deg);
}

.player-info .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.player-info > .row:last-child {
    margin-top: 0.25rem;
    font-size: smaller;
}

.i-name {
    flex-grow: 1;
    align-items: center;
}
[class^='i-color-'] {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    align-self: center;
}
.i-color-red { background-color: #c92b25;}
.i-color-violet { background-color: #6125c9;}